@import "../../index";

.ticketPage {
	display: flex;
	flex-direction: column;

	gap: 30px;
	padding: 20px 350px;
}

.ticketHeader {
	padding: 0 10px;
}

.messageListContainer {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;

	gap: 20px;
}

.messageEntry {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;

	padding: 0 10px;
}

.reply {
	display: flex;
	flex-direction: column;

	position: sticky;
	bottom: 0;
	left: 0;

	box-sizing: border-box;
	width:  100%;
	height: fit-content;
}

.inputContainer {
	padding: 10px;
}

textarea {
	all: unset;
	box-sizing: border-box;

	width: 100%;
	padding: 5px 5px;
	border-radius: @border-radius;

	word-wrap: break-word;
	resize: vertical;
	border: solid 1px @edge;
}

textarea:focus {
	border: solid 1px white;
}