.ticketPage {
	display: flex;
	flex-direction: column;

	gap: 30px;
	padding: 20px 100px;
}

.ticketHeader {
	padding: 0 10px;
}

.messageListContainer {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;

	gap: 20px;
}

.messageEntry {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;

	padding: 0 10px;
}

.replyBar {
	display: flex;
	flex-direction: row;

	position: sticky;
	bottom: 0;
	left: 0;

	box-sizing: border-box;
	width:  100%;
	height: fit-content;

	padding: 10px 15px;
}

.replyInput {
	all: unset;

	font-size: 18px;
	width: 100%;

	word-wrap: break-word;

	content: "test";
}