@background-color: #191919;
@background-color-dark: #0f0f0f;
@edge: #4b4b4b;
@dark-edge: #262626;
@shadow-color: rgba(0, 0, 0, 0.75);

@button-background-color-active: rgba(255, 255, 255, 0.15);
@button-background-color-hover: rgba(255, 255, 255, 0.10);

html {
	background-color: @background-color;
	color: white;
	font-family: Arial, sans-serif;
}

body {
	margin: 0;
}

// Components

.panel {
	background-color: @background-color;

	border-radius: 5px;
	border: @edge solid 1px;

	box-shadow: 0 0 10px -2px @shadow-color;
}

.iconButton {
	all: unset;

	cursor: pointer;
	background-color: transparent;

	width: fit-content;
	height: fit-content;
	border-radius: 100%;
	padding: 4px;

	transition: background-color 250ms ease-in-out;
}

.iconButton:active {
	background-color: @button-background-color-active;
}

.iconButton:hover {
	background-color: @button-background-color-hover;
}

span[contenteditable] {
}
span[contenteditable]:empty::before {
	content: attr(data-placeholder);
	color: gray;
	cursor: text;
	caret-color: initial;
}