@background-color: #1a1a1a;
@background-color-dark: #0f0f0f;
@edge: #404040;
@dark-edge: #262626;
@shadow-color: rgba(0, 0, 0, 0.75);

@button-background-color-active: rgba(255, 255, 255, 0.15);
@button-background-color-hover: rgba(255, 255, 255, 0.10);

@border-radius: 5px;

html {
	background-color: @background-color;
	color: white;
	font-family: Arial, sans-serif;
}

*:focus-visible {
	outline: none;
}

body {
	margin: 0;
}

// Components

.panel {
	background-color: @background-color-dark;

	border-radius: @border-radius;
	border: @edge solid 1px;
}

.iconButton {
	all: unset;

	cursor: pointer;
	background-color: transparent;

	width: fit-content;
	height: fit-content;
	border-radius: 100%;
	padding: 4px;

	transition: background-color 250ms ease-in-out;
}

.iconButton:active {
	background-color: @button-background-color-active;
}

.iconButton:hover {
	background-color: @button-background-color-hover;
}