@import "index";

.navContainer {
	background-color: @background-color-dark;
	border-bottom: 3px solid @dark-edge;

	box-shadow: 0 -2px 10px 4px @shadow-color;

	display: flex;
	box-sizing: border-box;

	padding: 6px;

	flex-direction: row;
	gap: 8px;
	justify-content: center;
}

.navButton {
	background-color: transparent;
	color: unset;
	text-decoration: unset;

	border-radius: 5px;

	padding: 6px 10px;
	transition:
			background-color 250ms ease-in-out,
			border-bottom-color 250ms ease-in-out;
}

.navButton:hover {
	background-color: rgba(255, 255, 255, 0.10);
}

.navButton.active {
	background-color: rgba(255, 255, 255, 0.15);
}