@import "index";

.navContainer {
	background-color: @background-color-dark;
	border-bottom: 1px solid @edge;

	display: flex;
	box-sizing: border-box;

	padding: 6px;

	flex-direction: row;
	gap: 8px;
	justify-content: center;
}

.navButton {
	background-color: transparent;
	color: unset;
	text-decoration: unset;

	border-radius: @border-radius;

	position: relative;
	padding: 6px 10px;
	transition:
			background-color 250ms ease-in-out,
			border-bottom-color 250ms ease-in-out;
}

.navButton:hover {
	background-color: @button-background-color-hover;
}

.navButton.active:after {
	content: "";

	position: absolute;
	left: 0;
	bottom: -7px;

	width: 100%;
	height: 2px;

	background-color: white;
}